/* line 17, sass/_base.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 25, sass/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

/* line 30, sass/_base.scss */
body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-weight: 300;
  line-height: 1.6; }

/* line 37, sass/_base.scss */
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

/* line 1, sass/_typography.scss */
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

/* line 15, sass/_typography.scss */
.heading-4 {
  font-size: 1.9rem; }
  /* line 19, sass/_typography.scss */
  .heading-4--light {
    color: #f9f7f6; }
  /* line 23, sass/_typography.scss */
  .heading-4--dark {
    color: #54483a; }

/* line 1, sass/_sidebar.scss */
.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1/-1; }

/* line 1, sass/_header.scss */
.header {
  background-color: #54483a;
  grid-column: full-start / col-end 6; }

/* line 1, sass/_realtors.scss */
.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

/* line 1, sass/_features.scss */
.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start; }

/* line 14, sass/_features.scss */
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem; }
  /* line 20, sass/_features.scss */
  .feature__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  /* line 28, sass/_features.scss */
  .feature__text {
    font-size: 1.7rem; }

/* line 2, sass/_story.scss */
.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4; }

/* line 7, sass/_story.scss */
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end; }

/* line 1, sass/_homes.scss */
.homes {
  background-color: #101d2c;
  grid-column: center-start / center-end; }

/* line 1, sass/_gallery.scss */
.gallery {
  background-color: #54483a;
  grid-column: full-start / full-end; }

/* line 1, sass/_footer.scss */
.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
